body {
  background-color: beige;
  border: 3px solid black;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 400px;
  box-sizing: border-box;
}
.title {
  background-color: white;
  border: 2px solid black;
  display: inline-block;
  height: 90px;
  width: 200px;
  text-align: left;
  padding-left: 2px;
}
.name {
  background-color: aqua;
  display: inline-block;
}
.E-mail {
  background-color: aqua;
  display: inline-block;
}
.Password {
  background-color: aqua;
  display: inline-block;
}
